[Desktop Entry]
Encoding=UTF-8
Name=Koinmudra
Comment=Koinmudra P2P Cryptocurrency
Exec=koinmudra-qt %u
Terminal=false
Type=Application
Icon=koinmudra128
MimeType=x-scheme-handler/koinmudra;
Categories=Office;Finance;
Name[en_US]=koinmudra-qt.desktop
