[Unit]
Description=Koinmudra's distributed currency daemon
After=network.target

[Service]
User=koinmudra
Group=koinmudra

Type=forking
PIDFile=/var/lib/koinmudrad/koinmudrad.pid

ExecStart=/usr/bin/koinmudrad -daemon -pid=/var/lib/koinmudrad/koinmudrad.pid \
          -conf=/etc/koinmudra/koinmudra.conf -datadir=/var/lib/koinmudrad

ExecStop=-/usr/bin/koinmudra-cli -conf=/etc/koinmudra/koinmudra.conf \
         -datadir=/var/lib/koinmudrad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
